@import 'tailwindcss';

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	color: #2b2a2a;
	background-color: #edecec;
	box-sizing: border-box;
	scrollbar-width: none;
	-ms-overflow-style: none;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
	background: transparent;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
