---
import { SignedIn, SignedOut, UserButton, SignInButton } from '@clerk/astro/components'
import { LogIn } from 'lucide-react'

import MobileTabs from "@/components/nav/MobileTabs.astro"
import NavMenu from '@/components/nav/NavMenu.astro'
import ProductSearch from '@/components/nav/ProductSearch'
import CartCount from './CartCount'

interface Product {
  brand: { name: string };
  name: string;
  slug: string;
  image: { url: string };
  description: string;
}

const query = {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      {
        products {
          brand { name }
          name
          slug
          image { url }
          description
        }
      }
    `,
  }),
};

const response = await fetch(import.meta.env.HYGRAPH_API, query);
const json = await response.json();
const products: Product[] = json.data.products;
---

<div class="bg-[#F2613F] h-6"></div>

<div class="border-b">
    <div class="p-4 flex justify-between items-center">
        <div class="flex items-center gap-4 lg:gap-8">

            <div class="lg:hidden mt-0.5">
                <NavMenu />
            </div>
    
            <a href="/" class="text-4xl font-bold mb-[1px]">TEKER</a>
    
            <div class='hidden sm:block '>
                <ProductSearch client:load products={products} />
            </div>
    
        </div>
        <div class="flex items-center gap-4 lg:gap-8">
            

            <CartCount client:load />
            
            <SignedOut>
                <SignInButton mode='modal'>
                    <div class='bg-[#1DCD9F] border border-[#169976] px-4 py-1.5 
                    rounded-[20px] cursor-pointer flex items-center gap-3'>
                        <span><LogIn size={16} className='my-1 md:my-0 text-[#030303]' />
                        </span>
                        <span class='hidden sm:block text-[#030303]'>Sign In</span>
                    </div>
                </SignInButton>
            </SignedOut>
        </div>
    </div>

    <div class="p-4 pt-0 sm:hidden">
        <ProductSearch client:load products={products} />
    </div>
</div>

<MobileTabs />